<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Star Wars Character Assignment</title>
    <link rel="stylesheet" href="styles.css" type="text/css" />
</head>

<body>
    <h1>User Information</h1>

    <p>
        Name: <span id="name"><%- name %></span><br>
        Age: <span id="age"><%- age %></span><br>
        Random Number: <span id="random"><%- charNum %></span><br>
        Your Character is: <span id="random"><%- characterName %>!!!</span>
    </p>

    <a href="/">Back to Main Page</a>


</body>

</html>